RewriteEngine On

RewriteRule ^$ public/ [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^index$ / [R,L]
RewriteRule ^(.*) public/$1  [L]

Options -MultiViews
