#tree tr:hover td {
    background-color: #C0FFC0;
    border-top: 3px solid #C0FFC0;
}

.draggable,
.non-draggable {
    padding: 4px;
    border: 1px solid transparent;
}

.draggable {
    cursor: default;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.draggable:hover {
    border: 1px dashed black;
}

#drag-new.ui-state-hover,
.draggable.ui-state-hover {
    border: 1px solid black;
}

.droppable.odd {
    border-left: 4px solid white;
}

.droppable.odd td {
    border-top: 3px solid white;
}

.droppable.even {
    border-left: 4px solid white;
}

.droppable.even td {
    border-top: 3px solid #EEE;
}

.droppable.group.ui-state-active {
    border-left: 4px solid green;
}

.droppable.group.ui-state-active td {
    border-top: 3px solid white;
}

.droppable.channel.ui-state-active td {
    border-top: 3px solid green !important;
}
