/**
 * Copy either
 * - grid.10.960px.css (10 colums, 960px wide) or
 * - grid.10.fluid.css (10 colums, fluid )
 * to grid.css
 *
 * You can use any grid from http://960.gs - WITH 10 COLUMNS!
 */
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Verdana, Arial, sans-serif;
    font-size: 90%;
}

#content {
    margin-top: 1em;
}

hr {
    height: 0;
    border: 0;
    border-top: dotted gray 1px;
}

div.hr {
    margin-top: .5em;
    margin-bottom: .5em;
    border-top: dotted 1px gray;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:focus, a:hover, a:active {
    color: rgb(204, 102, 17);
}

a:hover, a:active {
    text-decoration: underline;
}

.toolbar a {
    color: black;
}

/* Go back to top link
--------------------------------------------------------------------------- */
.go-top {
    position: fixed;
    bottom: 1.5em;
    right: 0;
    padding: 1em;
    border-right: 0;
    color: grey;
}

.go-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

/* Tooltips
--------------------------------------------------------------------------- */
.tip,
.tip-right,
.tip-top {
    cursor: help;
}

a.tip, a.tip-right, a.tip-top,
a .tip, a .tip-right, a .tip-top, /* For images inside a tags */
button.tip, button.tip-right, button.tip-top,
.tipbtn, .tipbtn-right, .tipbtn-top,
input[type=image],
.btn {
    cursor: pointer;
}

.tipid {
    display: none;
}

a.tip img,
a.tip-right img,
a.tip-top img,
img.tip,
img.tip-right,
img.tip-top {
    border: 0;
}

#tiptip_content {
    font-size: 90%;
    text-shadow: none;
    padding: .5em 1em;
}

/* Chart-Tooltips
--------------------------------------------------------------------------- */
.chart-tooltips {
    width: auto !important;
    padding: .3em !important;
    background-color: rgb(255,255,200) !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 85% !important;
}

/* Header
--------------------------------------------------------------------------- */
#header {
    margin-top: .5em;
}

#title1 {
    font-size: 125%;
    font-weight: bold;
    font-style: italic;
    text-shadow: #AAA .1em .1em .1em;
    color: black;
}

/* Menu
--------------------------------------------------------------------------- */
#menu {
    margin-top: .75em;
}

#menu div,
#footer div {
    padding: 3px;
}

/* SmartMenu config - instance specific stuff not covered in the theme */
.sm {
  position: relative;
  width: auto;
}
.sm ul {
  width: 15em; /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */
}

/* Footer
--------------------------------------------------------------------------- */
#footer {
    margin-top: 1em;
    margin-bottom: .5em;
    padding-top: .75em;
}

#powered img {
    width: 80px;
    height: 15px;
    margin-left: 7px;
}

#powered div {
    display: none;
}

/* Images
--------------------------------------------------------------------------- */
img,
input[type=image] {
    border: 0;
    vertical-align: middle;
}

td.icons {
    white-space: nowrap;
}

img.ico {
    width: 16px;
    height: 16px;
}

.icons img,
.icons .fa {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
}

.icons .ico {
    margin-left: 3px;
    margin-right: 3px;
}

.icons input[type=image] {
    width: 16px;
    height: 16px;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: inherit;
}

img.channel-icon {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 8px !important;
}

img.channel-icon-large {
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 12px !important;
}

td.imgbar {
    white-space: nowrap;
}

/* Other
--------------------------------------------------------------------------- */
.fa-question.tip {
    vertical-align: super;
    margin-left: .5em;
}

.marked-for-deletion td {
    background-color: #FFC0C0 !important;
}

.select2-results {
    /* Show about 12 rows below search input */
    max-height: 20em;
}

.icon-legend {
    padding: .5em 0;
    font-size: smaller;
}

.icon-legend i {
    padding-right: .25em;
    color: #404040;
    font-size: initial;
}

.legendtip i {
    padding: 1px;
    margin: 2px;
    background-color: white;
    color: #404040;
    font-size: initial;
}

.wait,
.wait * {
    cursor: progress !important;
}

.textarea-transition {
    transition: height 0.2s ease;
}

input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    padding: .2em .3em;
    background-color: white;
}

input.guid {
    font-family: Courier New, monospace;
    font-size: large;
    text-align: center;
    width: 100%;
    border: 0;
    outline: 0;
}

.clickable {
    cursor: pointer;
}

tt {
    font-size: 120%;
}

.fa.btn {
    margin-left: 2px;
    margin-right: 2px;
    color: #404040;
}

a.fa.btn {
    text-decoration: none;
}

.s {
    font-size: smaller;
}

.xs {
    font-size: x-small;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.l {
    text-align: left;
}

.c {
    text-align: center;
}

.r {
    text-align: right;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.nw {
    white-space: nowrap;
}

.alias {
    font-style: italic;
}

form {
    display: inline;
}

.p10, .ten-cols {
    width: 10%;
}

.p14, .seven-cols {
    width: 14%;
}

.p12_5, .eight-cols {
    width: 12.5%;
}

.p20, .five-cols {
    width: 20%;
}

.p25, .four-cols {
    width: 25%;
}

.p33, .three-cols {
    width: 33%;
}

.p50, .two-cols {
    width: 50%;
}
