
@import "normalize.css";
@import "960.10.fluid.css";

body {
    font-family: Verdana, Arial, sans-serif;
}

#content {
    font-size: 90%;
}

hr {
    height: 0;
    border: 0;
    border-top: dotted gray 1px;
}

div.hr {
    margin-top: .5em;
    margin-bottom: .5em;
    border-top: dotted 1px gray;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:focus, a:hover, a:active {
    color: rgb(204, 102, 17);
}

a:hover, a:active {
    text-decoration: underline;
}

.toolbar a {
    color: black;
}

/* Back to top link
--------------------------------------------------------------------------- */
.back-to-top {
    position: fixed;
    bottom: 1.5em;
    right: 0;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

img,
input[type=image] {
    border: 0;
    vertical-align: middle;
}

/* Tooltips
--------------------------------------------------------------------------- */
.tip {
    cursor: help;
}

.tipid {
    display: none;
}

img.tip {
    border: 0;
}

#tiptip_content {
    font-size: 90%;
    text-shadow: none;
    padding: .5em 1em;
}

/* Chart-Tooltips
--------------------------------------------------------------------------- */
.chart-tooltips {
    width: auto !important;
    padding: .3em !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 85% !important;
    background-color: rgb(255,255,200) !important;
}

/* Header
--------------------------------------------------------------------------- */
#header {
    margin-top: .5em;
    margin-bottom: .5em;
}

#title1 {
    font-size: 125%;
    font-weight: bold;
    font-style: italic;
    text-shadow: #AAA .1em .1em .1em;
    color: black;
}

/* Footer
--------------------------------------------------------------------------- */
#footer {
}

#powered {
    margin-top: 1em;
}

#powered a {
    margin-left: .3em;
}

/* Other
--------------------------------------------------------------------------- */
.ui-textfield {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
}

.ui-button-text {
    color: black;
}

input[type=text],
input[type=number],
input[type=text],
input[type=password],
select,
textarea {
    padding: .3em .2em;
    background-color: white;
}

img.imgbar,
input.imgbar {
    margin-left: 2px;
    margin-right: 2px;
}

img.imgbar.wide,
input.imgbar.wide {
    margin-left: 4px;
    margin-right: 4px;
}

td.imgbar {
    white-space: nowrap;
}

.s {
    font-size: smaller;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.l {
    text-align: left;
}

.c {
    text-align: center;
}

.r {
    text-align: right;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

form {
    display: inline;
}

.p10, .ten-cols {
    width: 10%;
}

.p14, .seven-cols {
    width: 14%;
}

.p12_5, .eight-cols {
    width: 12.5%;
}

.p20, .five-cols {
    width: 20%;
}

.p25, .four-cols {
    width: 25%;
}

.p33, .three-cols {
    width: 33%;
}

.p50, .two-cols {
    width: 50%;
}
