<?php
/**
 * PVLng - PhotoVoltaic Logger new generation (https://pvlng.com/)
 *
 * @link       https://github.com/KKoPV/PVLng
 * @author     Knut Kohl <github@knutkohl.de>
 * @copyright  2012-2016 Knut Kohl
 * @license    MIT License (MIT) http://opensource.org/licenses/MIT
 */

/**
 * Add here extra needed code for your installation
 */

/**
 * vzlogger compatible data saving
 *
 *    http://pvlng.com/Customization#vzlogger_compatibility
 *
 *    http://volkszaehler.org
 *    http://wiki.volkszaehler.org/software/controller/vzlogger
 *    http://wiki.volkszaehler.org/development/api/reference
 *
 */
// $api->post('/data/vz/:guid', function($guid) use ($api) {
//     Channel::byGUID($guid)->write(
//         array( 'data' => $app->request->post('value') ),
//         $api->request->post('ts')
//     ) && $api->halt(201);
// })->name('POST /data/vz/:guid')->help = array(
//     'description' => 'Save a reading value from vzlogger (http://wiki.volkszaehler.org/software/controller/vzlogger)',
//     'payload'     => '?ts=<timestamp>&value=<value>'
// );

// if (extension_loaded ('newrelic')) {
//
//     /**
//      * Example for newrelic, set transaction name from actual route
//      *
//      * /GET/data, /PUT/data, /GET/channel etc.
//      *
//      * http://newrelic.com/monitor-everything
//      */
//     $api->hook('slim.before.dispatch', function() use ($api) {
//         if (preg_match('~^/([^/]+)/?~', $api->request->getResourceUri(), $args)) {
//             newrelic_name_transaction($api->request->getMethod() . '/' . $args[1]);
//         } else {
//             newrelic_name_transaction($api->request->getMethod());
//         }
//     });
//
//     /**
//      * You can use the API also for newrelic pinger
//      */
//     $api->get('/ping', function() use ($api) {
//         $api->contentType('text/plain');
//         $api->halt(200, 'pong');
//     })->name('GET /ping')->help = array(
//         'description' => 'For new relic pinger',
//     );
//
// }
