// Put this snippet into your config/config.cron.php
// and fill in your settings / GUIDs

// SNIP >>>

    array(

        // -------------------------------------------------------------------
        // DON'T CHANGE
        'Handler' => 'Webbox',
        // -------------------------------------------------------------------

        /**
         * Common settings
         */
        'enabled' => TRUE,           // (TRUE|FALSE|0) '0' runs only in test mode!
        'Name'    => 'SMA Webbox',   // A meaningful name for debugging
        'RunEach' => 1,              // Minutes

        /**
         * Webbox IP or host name
         */
        'IP' => '192.168.0.168',

        /**
         * Installer password, with it you get more details out of the Webbox
         */
        'Password' => '',

        /**
         * Installed equipments, inverters and sensor boxes, and their channel GUIDs
         */
        'Equipments' => array(
            array(
                'Serial' => '',
                'GUID'   => ''
            ),

        )

    ),

// <<< SNAP
