<?php
/**
 * Central configuration
 *
 * Copy this file to config/config.php
 *
 * 1. Change your database credentials
 *
 * 2. Generate administrator account on
 *    http://your.domain.here/adminpass
 *
 * Paste the code snippet afterwards below
 *
 * @author      Knut Kohl <github@knutkohl.de>
 * @copyright   2012-2013 Knut Kohl
 * @license     GNU General Public License http://www.gnu.org/licenses/gpl.txt
 * @version     $Id$
 */
return array(

	/**
	 * 1. Change the database credentials for your needs
	 */
	'Database' => array(
		'Host'     => '<HOST>',
		'Username' => '<USER>',
		'Password' => '<PASSWORD>',
		'Database' => '<DATABASE>'
	),

	/**
	 * 2. Protect your installation.
	 *
	 * Call
	 *
	 * 	  http://your.domain.here/adminpass
	 *
	 * to setup your administrator account
	 */
	'Admin' => array(
		'User'     => '',
		'Password' => ''
	),

	/**
	 * You title
	 */
	'Title' => 'PhotoVoltaic Logger new generation',

	/**
	 * Currency settings
	 */
	'Currency' => array(
		'ISO'      => 'EUR',
		'Symbol'   => '€',
		'Decimals' => 2
	),

	/**
	 * Preferd cache mode, auto detect best one if empty
	 */
	'Cache' => '',
	#'Cache' => 'APC',
	#'Cache' => 'MemCache',
	#'Cache' => 'File',

	/**
	 * Default language, "en" or "de"
	 *
	 * Will be overwritten by browsers accept language settings if exists
	 */
	'Language' => 'en',

	/**
	 * Defaults, no need to change
	 *
	 * Login cookie settings for private installation
	 */
	'Cookie' => array(
		'Name'     => 'PVLng',
	),

);
