##############################################################################
### @author     Knut Kohl <github@knutkohl.de>
### @copyright  2012-2016 Knut Kohl
### @license    MIT License (MIT) http://opensource.org/licenses/MIT
##############################################################################

##############################################################################
### mosquitto host
### default: localhost
##############################################################################
#host=localhost

##############################################################################
### mosquitto port
### default: 1883
##############################################################################
#port=1883

##############################################################################
### Run in daemon mode by default
### Emtpy variable for test mode
### default: yes
##############################################################################
#daemon=yes

##############################################################################
### Log all actions for debugging only and only in daemon mode
##############################################################################
#log=
