##############################################################################
###
### @author      Knut Kohl <github@knutkohl.de>
### @copyright   2012-2014 Knut Kohl
### @license     MIT License (MIT) http://opensource.org/licenses/MIT
### @version     1.0.0
###
##############################################################################
###
### NGINX configuration file
###
### Set your server_name and listen port
###
### Configure your path to PVLng at
### - root, access_log, error_log
###
### Make a link in /etc/nginx/sites-enabled
###
### To use the expires header, install nginx-extras package
### $ sudo apt-get install nginx-extras
###

##############################################################################
###
### Adjust for your php5-fpm
###
### $ grep 'listen = ' /etc/php5/fpm/pool.d/www.conf
###
upstream pvlng_php_upstream {
    # With php5-cgi alone:
    #server 127.0.0.1:9000;
    # With php5-fpm:
    server unix:/var/run/php5-fpm.sock;
}

##############################################################################
###
### Adjust paths
###
server {
    ###
    # Server name & port
    #
    server_name  example.com;
    listen       *:80;

    ###
    # Prepare paths by
    # $ mkdir -p /var/www/pvlng/{html,log}
    #
    root         /var/www/pvlng/html;
    access_log   /var/www/pvlng/log/access.log;
    error_log    /var/www/pvlng/log/error.log;

    ###
    # Enable gzip compression
    #
    gzip             on;
    gzip_min_length  1100;
    gzip_buffers     4 32k;
    gzip_comp_level  9;
    gzip_types       text/plain text/css application/javascript application/x-javascript application/json;
    gzip_vary        on;
    gzip_static      on;
    gzip_proxied     expired no-cache no-store private auth;
    gzip_disable     "MSIE [1-6]\.";

    ###
    # Allows file uploads up to 500 megabytes
    #
    client_max_body_size 500M;

    ###
    # Rewrite API calls
    #
    rewrite /api/([^/]+)/?(.*)$ /api/$1/index.php?$2;

    ###
    # Handle images
    #
    location ~* \.(?:png|gif|jpg|jpeg|ico)$ {
        access_log    off;
        log_not_found off;
        try_files     /public/$uri =404;
        add_header    Vary Accept-Encoding;
        expires       max;
    }

    ###
    # Handle styles and scripts
    #
    location ~* \.(?:js\.gz|css\.gz|js|css)$ {
        log_not_found off;
        try_files     /public/$uri =404;
        expires       max;
    }

    ###
    # Handle rescoures files
    #
    location /resources {
        access_log off;
        try_files  /public/$uri =404;
        add_header Expires "Thu, 31 Dec 2037 23:55:55 GMT";
        add_header Cache-Control "public, max-age=315360000";
    }

    ###
    # Rewrite all other calls to /public
    #
    location / {
        try_files /public/$uri /public/index.php?$args;
    }

    ###
    # Handle calls to *.php files
    #
    location ~ \.php$ {
        try_files $uri =404;

        # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        fastcgi_read_timeout 3600;
		fastcgi_pass_header Set-Cookie;
		fastcgi_pass_header Cookie;
		fastcgi_ignore_headers Cache-Control Expires Set-Cookie;

        fastcgi_pass pvlng_php_upstream;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SCRIPT_NAME     $fastcgi_script_name;

        ###################
        # Up to Debian Wheezy:
        #include fastcgi_params;

        ###################
        # From Debian Jessie:
        include fastcgi.conf;

        ###################
        # With Ajenti:
        #include fcgi.conf;
    }

    ###
    # Deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    location ~ /\. {
        log_not_found off;
        deny all;
    }
}
