##############################################################################
###
### @author      Knut Kohl <github@knutkohl.de>
### @copyright   2012-2014 Knut Kohl
### @license     MIT License (MIT) http://opensource.org/licenses/MIT
### @version     1.0.0
###
##############################################################################
###
### NGINX configuration file
###
### Set your server_name and listen port
###
### Configure your path to PVLng at
### - root, access_log, error_log
###
### Make a link in /etc/nginx/sites-enabled
###

upstream php5-fpm {
    # With php5-cgi alone:
#   server 127.0.0.1:9000;
    # With php5-fpm:
    server unix:/var/run/php5-fpm.sock;
}

server {
    ###
    # Server name & port
    #
    server_name  example.com;
    listen       80;

    ###
    # Prepare paths by
    #
    # $ mkdir -p /var/www/{log,public_html}
    #
    root         /var/www/public_html;
    access_log   /var/www/log/access.log;
    error_log    /var/www/log/error.log;

    ###
    # Enable gzip compression
    #
    gzip             on;
    gzip_min_length  1100;
    gzip_buffers     4 32k;
    gzip_comp_level  9;
    gzip_types       text/css application/javascript application/x-javascript application/json;
    gzip_vary        on;

    ###
    # Allows file uploads up to 500 megabytes
    #
    client_max_body_size 500M;

    ###
    # Remove trailing slashes, the Slim router don't like them
    #
    rewrite ^/(.*)/$ /$1 permanent;

    ###
    # Rewrite API calls
    #
    rewrite /api/([^/]+)/?(.*)$ /api/$1/index.php?$2 last;

    ###
    # Handle images, styles and scripts
    #
    location ~* \.(?:png|jpg|jpeg|gif|ico|js|css)$ {
        try_files /public/$uri =404;
        expires 1y;
        add_header Cache-Control public;
        log_not_found off;
    }

    ###
    # Rewrite all other calls to /public
    #
    location / {
        try_files /public/$uri /public/index.php?$args;
    }

    ###
    # Handle calls to *.php files
    #
    location ~ \.php$ {
        try_files $uri =404;

        # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_read_timeout 300;

        # pass to upstream
        fastcgi_pass php5-fpm;

        fastcgi_index index.php;
        include fastcgi_params;
    }

    ###
    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    location ~ /\. {
        log_not_found off;
        deny all;
    }
}
