#entities tr:hover {
    background-color: #C0FFC0 !important;
}

.ro {
    background-color: #E0E0E0 !important;
}

td.hint {
    font-size: 90%;
    padding-top: .5em;
    padding-bottom: .5em;
}

#tplTable ul {
    padding-left: 15px;
}

textarea {
    width: 98%;
}

input.code,
textarea.code {
    font-family: monospace;
    font-size: 120%;
}

/* Borders for opened details row */
tr.shown {
    border-left:  dashed gray 1px;
    border-top:   dashed gray 1px;
    border-right: dashed gray 1px;
    background-color: #E8E8E8 !important;
}

td.details {
    border-left:   dashed gray 1px;
    border-right:  dashed gray 1px;
    border-bottom: dashed gray 1px;
    padding: .5em 1em !important;
    padding-left: 120px !important;
    background-color: #E8E8E8;
}

td.details div.attr {
    float: left;
    margin-right: 2em;
    margin-bottom: .5em;
}

td.details label {
    display: block;
    margin-bottom: .25em;
    font-weight: bold;
}

td.details-control {
    background: url('/images/ico/plus_circle_frame.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/images/ico/minus_circle_frame.png') no-repeat center center;
}
