<script>

/**
 * http://wublast.wunderground.com/cgi-bin/WUBLAST?lat=51.5&lon=12.1&radius=75&width=480&height=320&key=sat_ir4_thumb&gtt=0&extension=png&proj=me&num=1&delay=25&timelabel=0&basemap=1&borders=1&theme=WUBLAST_WORLD&rand=1408602840&api_key=87aedb10be423d15
 * http://wublast.wunderground.com/cgi-bin/WUBLAST?lat=51.5&lon=12.1&radius=75&width=480&height=320&key=sat_ir4_thumb&gtt=0&extension=png&timelabel=1&basemap=0&borders=1&api_key=87aedb10be423d15
 *
 * Wunderground API configuration
 */
var WUforecastOptions = {

    /* How often should the foercast reread from Wunderground in minutes */
    Lifetime: 20,

    /* http://www.wunderground.com/weather/api/d/docs?d=resources/icon-sets */
    IconSet: 'f',

    /* The weather icons have a full size of 50px x 50px, define display with in pixel */
    IconSize: 20,

    /* Show conditions only during daylight times */
    Hours: [ 5, 22 ]
};

/**
 * Wunderground functions
 */
function WUforecast (options) {

    opt = options;

    /* Wunderground logo */
    logo = $('<a/>')
        .css({ marginLeft: '10px' })
        .prop('href', 'http://www.wunderground.com/')
        .prop('title', 'Weather Underground')
        .append(
            $('<img/>')
            .prop('src', '/custom/wunderground90.gif')
            .css({ width: '90px', height: '20px' })
        );

    /* Inner image Container */
    forcastContainer = $('#wu-forecast');

    /**
     * Private function
     */
    showForecast = function(forecast) {
        forcastContainer.empty();

        $.each(forecast, function(id, data) {
            $('<div/>')
                .css({ margin: '0 2px', float: 'left', textAlign: 'center', fontSize: 'x-small' })
                .append(
                    $('<img/>')
                    .css('width', opt.IconSize+'px')
                    .css('height', opt.IconSize+'px')
                    .prop('src', 'http://icons.wxug.com/i/c/'+opt.IconSet+'/'+data[1]+'.gif')
                    .prop('title', data[2])
                    .tipTip()
                )
                .append('<br />' + data[0])
                .appendTo(forcastContainer);
        });

        /* Wunderground logo */
        forcastContainer.append(logo);
        logo.tipTip();
    };

    /**
     *
     */
    this.loadForecast = function() {

        var forecast = lscache.get(_lscache);

        if (forecast) {
            showForecast(forecast);
            return;
        }

        /* Fetch data */
        var l = { en: 'EN', de: 'DL' }[language];
        forecast = [];

        $.ajax({
            /* Combine hourly and 3 day forcast into one request */
            url: 'http://api.wunderground.com/api/{WEATHER_APIKEY}/hourly/forecast/lang:' + l +
                 '/q/' + latitude + ',' + longitude + '.json',
            dataType: 'jsonp',
            success: function(response) {

                /* Hourly forecast, ONLY today and tomorrow */
                var day = 1;

                $.each(response.hourly_forecast, function(id, data) {
                    if (data.FCTTIME.hour == 0) day++;

                    if (day > 2 ||
                        data.FCTTIME.hour < opt.Hours[0] ||
                        data.FCTTIME.hour > opt.Hours[1]) return;

                    /* https://www.utexas.edu/depts/grg/kimmel/nwsforecasts.html
                       "sky" is the amount expected to be covered by opaque clouds, the type that
                       do not allow other clouds, or blue sky to be visible through or above them.
                       Cloudy                       90-100%
                       Mostly cloudy                70-80%
                       Partly Cloudy/Partly Sunny   30-60%
                       Mostly Clear/Mostly Sunny    10-30%
                       Clear/Sunny                  0-10%
                       Fair                         Less than 40% cloud cover, no
                                                    precipitation and no extreme weather */
                    forecast.push([
                        +data.FCTTIME.hour,
                        data.icon,
                        data.temp.metric + '°C - ' + data.condition + ' (' + data.sky + '%) '
                    ]);
                });

                /* 3 day forecast, EXCEPT today and tomorrow */
                $.each(response.forecast.simpleforecast.forecastday.slice(2), function(id, data) {
                    forecast.push([ data.date.weekday_short, data.icon, data.conditions ]);
                });

                showForecast(forecast);
                /* Store forecast for next half hour */
                lscache.set(_lscache, forecast, opt.Lifetime);
            }
        });
    };

    _lscache = 'hook-wu-forecast';

    /* Load on creation */
    this.loadForecast();
}

function WUimage(id) {

    /* Buffer element and image URL */
    img = $(id);
    img_src = img.prop('src');

    this.loadImage = function() {
        /* Force reload by timestamp parameter */
        img.prop('src', img_src + '?_=' + (new Date).getTime());
    };

    /* Load on creation */
    this.loadImage();
}

$(function() {

    if (user) {
        var wu = new WUforecast(WUforecastOptions);
        setInterval(function() { wu.loadForecast() }, 5*60000);
    }

});

</script>

<!--

<script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>

<script>
    WebFont.load({ google: { families: ['Duru Sans'] } });
</script>

<style>
    body {
        font-family: 'Duru Sans', sans-serif;
        font-size: 90%;
    }
</style>

-->

<!-- http://jaicab.com/localFont/ - ->

<script>
    !function(){"use strict";function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(o))c(localStorage.font_css_cache);else{var n=new XMLHttpRequest;n.open("GET",o,!0),e(n,"load",function(){4===n.readyState&&(c(n.responseText),localStorage.font_css_cache=n.responseText,localStorage.font_css_cache_file=o)}),n.send()}else{var a=document.createElement("link");a.href=o,a.rel="stylesheet",a.type="text/css",document.getElementsByTagName("head")[0].appendChild(a),document.cookie="font_css_cache"}}function c(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var o='/css/font.min.css';window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}();
</script>

-->
